<div class="container">

  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-users grocfons" aria-hidden="true"></i></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Inici <span class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Contactes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/contacto/all">LLista contactes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/contacto/addcontacto">Nou contacte</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" onclick="document.forms['logoutForm'].submit()">Logout
            ${pageContext.request.userPrincipal.name}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<form id="logoutForm" method="POST" action="${pageContext.request.contextPath}/logout">
  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
</form>